@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

html, body {

    margin: 0;
    padding: 0;
}


body {

    font-family: "Ubuntu", sans-serif;
    background: #FBF5F2;
    height: 100vh;
}

i {
    color: #718a66;
    position: relative;
    bottom: -30px;
    left: 5px;
}

h2 {
    color: #ff9558;
    margin: 10px 0;
}

.container {

}

.mobile {
    display: none;
}

.container form {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    place-items: center;
    height: 100vh;

}

.form_box {

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: end;
    width: 50%;

}

.authorization_box {
    margin: auto 0;
    justify-self: start;

}

.authorization_box img {

}

.authorization_box, p {
    margin-left: 50px;
}

.authorization_box p a {
    text-decoration: none;
    color: #1876ac;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 100%;
}

label {
    color: #333;
    font-size: 12px;


}


input,
input[type="date"],
select {

    height: 35px;
    padding: 5px 10px;
    background: #F6E2D7;
    border: none;
    border-radius: 8px;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
select {
    background: #f5e3da;
    outline: none;
}




/* Стилізація для поля вибору статі */
.form-group label {
    display: block;

}
.sex div{
    display: flex;
    flex-direction: row;

}
.sex div div{
display: flex;
    flex-direction: column;
    margin: 10px;

}

.form-group input[type="radio"] {
    display: inline-block;
    width: 20px; /
    height: 20px;
    margin-right: 5px;
    cursor: pointer;

}







/* Стилізація інпуту з файлами */
input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 20%;
}

/* Стилізація спеціальної кнопки для вибору файлу */
.custom-file-upload {
    text-align: center;
    background-color: #718a66;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: calc(100% - 40px);

}

/* Задаємо стиль для тексту в кнопці */
.custom-file-upload span {
    font-size: 16px;
    font-weight: bold;
}

/* Стилізуємо кнопку при наведенні миші */
.custom-file-upload:hover {
    background-color: #5a6e51;
}

button {
    cursor: pointer;
    background-color: #ff9558;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    width: 100%;
    grid-column: 2 span;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #e8ab53;
}

/* Стилі для модального блоку */
.modal {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-button {
    margin-bottom: 10px;
    width: 10%;
    font-size: 12px;
    background: #ff9558;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-right {
    margin-left: auto;
}

.button-left {
    margin-right: 10px;
}

/* Стилі для кнопки відкриття */
#openModalButton {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10%;
    background: #ff9558;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

}

#modalToggle{
    display: none;
}
#modalToggle:checked ~.open-modal-button {
    display: none;
}

#modalToggle:checked ~ .modal-content {
    display: block;
}
#modalToggle:checked ~ .close-modal-button{
    display: block;
}

#modalToggle:checked ~ .modal{
    display: block;
}

/* Загальні стилі для таблиці */
#data-table {
    border-collapse: collapse;
    width: 100%;
}

#data-table th, #data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#data-table th {
    background-color: #f2f2f2;
}

/* Стилі для заголовків стовпців */
#data-table th {
    font-weight: bold;
}

/* Співставлення кольорів для рядків */
#data-table tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}


@media screen and (max-width: 1220px) {
    .container form {

        display: grid;
        grid-template-columns: 60% 30%;
        gap: 10px;

    }

}

@media screen and (max-width: 768px) {
    body {

    }

    img {
        display: none;
    }

    .authorization_box {
        display: none;
    }

    .container form {

        display: flex;
        justify-content: center;


    }

    .mobile {
        display: block;
        margin: 0;
    }

    p {
        margin: 10px 0;
    }

    .form_box {
        width: 95%;
    }

}
