html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #f4f4f4;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 14px;
    color: #333;
    margin: 0;
    margin-right: 40px;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #777;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 20px;
}

.dropbtn:hover {
    color: #222;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    font-size: 12px;
        text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-container {
    max-width: 1200px;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



/*main */
main {
    margin: 20px 10px;
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.slider {
   width: 800px;
   height: auto;
   overflow: hidden;
}

.middle {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.navigation {
   position: absolute;
   top: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
}

.bar {
   width: 30px;
   height: 8px;
   margin: 6px;
   cursor: pointer;
   background-color: #000;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
}

.bar:hover {
   opacity: 1;
   transform:scale(1.1);
}

input[name="r"] {
   position: absolute;
   visibility: hidden;
}

.slides {
   width: 400%;
   height: 100%;
   display: flex;
}

.slide {
   width: 25%;
   transition: all 0.6s ease;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.img-container {
   position: relative;
   text-align: center;
}

.img {
   width: 99%;
   height: auto;
   border: 2px solid #000;
}

.slide-text {
   color: black;
   text-align: left;
   margin-top: 5px;
   display: block;
}

.blue {
    color: #1876ac;
    font-weight: bold;
}

#r1:checked ~ .s1 {
   margin-left: 0;
}

#r2:checked ~ .s1 {
   margin-left: -25%;
}

#r3:checked ~ .s1 {
   margin-left: -50%;
}

#r4:checked ~ .s1 {
   margin-left: -75%;
}

.no-border {
    border: none !important;
}

.left-block {
    grid-column: 3 span;
}

.right-block {
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-self: end;
}

.content-block {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

/*news */
.news-block{
border:  none;
    padding-top: 0;
    margin-top: 0;
}
.news-card{
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}
.card-title{
    font-size: 20px;
    color: #208843;
    margin-bottom: 20px;
    font-weight: lighter;
    margin-top: 0;
}
.card-subtitle{
    color: #6c757d;
    font-size: 12px;
    margin-bottom: 0;
}
.card-text{
    color: #111;
    font-size: 14px;
}
.btn-card{
    cursor: pointer;
    background-color: #f0a433;
    border: 1px solid #f08833;

    transition: all .3s ease;
    padding: 10px 20px;
    font-size: 16px;
    color: white;

}
/*footer*/
footer p {
    color: black;
}

footer a{
    text-decoration:  none;
    color: #208944;
}
footer {
    flex-shrink: 0;
    border-top: 2px solid #208944;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.footer_logo img {
    width: 80px;
}

.footer_content {
    display: flex;
    gap: 10%;
    margin-left: 5%;
    align-items: center;
}
.footer-social{
    display: flex;
    gap: 5%;
    white-space: nowrap;
}
.footer-social i{
    margin-right: 10px;
}
@media screen and (max-width: 1380px) {
    .footer-social {
       flex-direction: column;
    }

}
@media screen and (max-width: 768px) {
    .footer_content {
        flex-direction: column;
        text-align: center;
        margin: 0;
        gap: 0;
    }

    .footer-social {
        margin-top: 10px;
    }

    .footer-social a {
        display: block;
    }
}