body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.content-block {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

/*main */

/*footer*/
footer p {
    color: black;
}

footer a{
    text-decoration:  none;
    color: #208944;
}
footer {
    border-top: 2px solid #208944;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_logo img {
    width: 80px;
}

.footer_content {
    display: flex;
    gap: 10%;
    margin-left: 5%;
    align-items: center;
}
.footer-social{
    display: flex;
    gap: 5%;
    white-space: nowrap;
}
.footer-social i{
    margin-right: 10px;
}
@media screen and (max-width: 1380px) {
    .footer-social {
       flex-direction: column;
    }

}
@media screen and (max-width: 768px) {
    .footer_content {
        flex-direction: column;
        text-align: center;
        margin: 0;
        gap: 0;
    }

    .footer-social {
        margin-top: 10px;
    }

    .footer-social a {
        display: block;
    }
}