@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background: #ceffce;
    font-family: "Ubuntu", sans-serif;
    color: white;

}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

th, td {

    padding: 30px;
    text-align: left;
}

/* #7f886a #f3ecdb*/
th {
    background-color: #71695e;
}

tr {
    background-color: #bdbdbd;

}

td {
    color: black;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #33302e;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

td i {
    margin: 0 5px;
    color: #44413a;
}

.head_box {
    display: flex;
    align-items: center;
}

.girl_img {
    position: absolute;
    max-width: 200px;
    top: 20%;
    right: 27%;
}

@media screen and (max-width: 1240px) {
    .girl_img {

        right: 10%;
    }
}

@media screen and (max-width: 900px) {
    .girl_img {
        display: none;
    }
}
